.umrah {
  margin: 12px;
  border-radius: 5px;
}

input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 180px;
}

label {
  font-size: 14px;
  display: block;
}

.left {
  margin-right: 30px;
}

.umrah button {
  border-radius: 5px;
  padding: 5px;
  width: 90px;
  margin-top: 10px;
  background-color: #fe844b;
  color: #fff;
}
